.yinyang-green {
    position: relative;
    background: #fff;
    height: 100px;
    border-color: #04832e;
    border-style: solid;
    width: 50px;
    border-width: 2px 50px 2px 2px;
    border-radius: 50%;
}

.yinyang-green:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    background: #fff;
    border: 18px solid #04832e;
    border-radius: 50%;
    width: 14px;
    height: 14px;
}

.yinyang-green:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: #04832e;
    border: 18px solid #fff;
    border-radius: 50%;
    width: 14px;
    height: 14px;
}

.yinyang-wrapper-green {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yinyang-wrapper-green {
    min-width: 360px;
}